In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('C:\project_mlops\datasets\data_endpoints.csv')

In [5]:
data['title'][0]

'Minions'

In [6]:
data[data['crew'].isna()]

,budget,id_movie,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return,cast,crew
37567,0.0,401840,0.207775,2017-05-30,0.0,School's out,0.0,0.0,2017-05-30,0.0,NaN,NaN

In [7]:
data = data.dropna(subset=['cast']).reset_index(drop=True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   budget        45345 non-null  float64
 1   id_movie      45345 non-null  int64
 2   popularity    45345 non-null  float64
 3   release_date  45345 non-null  object
 4   revenue       45345 non-null  float64
 5   title         45345 non-null  object
 6   vote_average  45345 non-null  float64
 7   vote_count    45345 non-null  float64
 8   release_year  45345 non-null  object
 9   return        45345 non-null  float64
 10  cast          45345 non-null  object
 11  crew          45345 non-null  object
dtypes: float64(6), int64(1), object(5)
memory usage: 4.2+ MB

# Get_Actor

In [9]:
# listas de lo que parecen ser diccionarios, y listas vacías.
# procedemos a la transformación de texto a diccionario
import ast
import json

def convertir_a_dict(valor):
    datos_list = ast.literal_eval(valor)
    datos_str_list = [json.dumps(d) for d in datos_list]
    datos_dict_list = [json.loads(d) for d in datos_str_list]
    return datos_dict_list

# Aplicar la función a toda la columna 'cast' agregando una nueva columna al DF llamada 'cast_dict'
data['cast_conv_dict'] = data['cast'].apply(convertir_a_dict)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   budget          45345 non-null  float64
 1   id_movie        45345 non-null  int64
 2   popularity      45345 non-null  float64
 3   release_date    45345 non-null  object
 4   revenue         45345 non-null  float64
 5   title           45345 non-null  object
 6   vote_average    45345 non-null  float64
 7   vote_count      45345 non-null  float64
 8   release_year    45345 non-null  object
 9   return          45345 non-null  float64
 10  cast            45345 non-null  object
 11  crew            45345 non-null  object
 12  cast_conv_dict  45345 non-null  object
dtypes: float64(6), int64(1), object(6)
memory usage: 4.5+ MB

In [14]:
data_actor = data[['id_movie','return','title','name_actor']]

In [12]:
data['cast_conv_dict'][0]

[{'cast_id': 22,
  'character': 'Scarlet Overkill (voice)',
  'credit_id': '54cd4a5d9251414755001dae',
  'gender': 1,
  'id': 18277,
  'name': 'Sandra Bullock',
  'order': 0,
  'profile_path': '/bsAy8f8UZKairXQzRukU5FP4XAQ.jpg'},
 {'cast_id': 24,
  'character': 'Herb Overkill (voice)',
  'credit_id': '54cd4aa9c3a3687f84001f92',
  'gender': 2,
  'id': 65717,
  'name': 'Jon Hamm',
  'order': 1,
  'profile_path': '/wb14AA6u8dqA0XNweRIeKXatzzc.jpg'},
 {'cast_id': 28,
  'character': 'Walter Nelson (voice)',
  'credit_id': '55440dda92514119e00000d1',
  'gender': 2,
  'id': 2232,
  'name': 'Michael Keaton',
  'order': 2,
  'profile_path': '/myVdrYNGTgqunLfUSaM8DuVD7DL.jpg'},
 {'cast_id': 29,
  'character': 'Madge Nelson (voice)',
  'credit_id': '55440de3c3a3680cdf002c7f',
  'gender': 1,
  'id': 19,
  'name': 'Allison Janney',
  'order': 3,
  'profile_path': '/fido6hwI8tFSZNt6HtP2DZH2eu6.jpg'},
 {'cast_id': 31,
  'character': 'Professor Flux / Tower Guard (voice)',
  'credit_id': '55440dfcc3a3680cd5002c8a',
  'gender': 2,
  'id': 4581,
  'name': 'Steve Coogan',
  'order': 4,
  'profile_path': '/1xeEsE6pq6GTkueRfjzQiTqvyYA.jpg'},
 {'cast_id': 33,
  'character': 'Reine Elizabeth II (voice)',
  'credit_id': '55440e27925141586d002aac',
  'gender': 1,
  'id': 12094,
  'name': 'Jennifer Saunders',
  'order': 5,
  'profile_path': '/c1qRVTYqUhWd7y2ws426zdyqhln.jpg'},
 {'cast_id': 34,
  'character': 'Narrator (voice)',
  'credit_id': '559ab87bc3a3685f80004100',
  'gender': 2,
  'id': 118,
  'name': 'Geoffrey Rush',
  'order': 6,
  'profile_path': '/5h91WHSK80YtqTk1bMiar2IZzO2.jpg'},
 {'cast_id': 35,
  'character': 'Gru (voice)',
  'credit_id': '559ab891c3a36855db0052fe',
  'gender': 2,
  'id': 4495,
  'name': 'Steve Carell',
  'order': 7,
  'profile_path': '/dIbDse0ULWgA5QVoQDSFogczuc.jpg'},
 {'cast_id': 12,
  'character': 'Stuart, Kevin and Bob (voices)',
  'credit_id': '5431b260c3a36831a6003d9b',
  'gender': 2,
  'id': 124747,
  'name': 'Pierre Coffin',
  'order': 8,
  'profile_path': '/enSQNAwRSDPq9M9VZ1yjDwKWbev.jpg'},
 {'cast_id': 30,
  'character': 'Tina (voice)',
  'credit_id': '55440df09251414c920003be',
  'gender': 1,
  'id': 59450,
  'name': 'Katy Mixon',
  'order': 9,
  'profile_path': '/o6yDzpvqsq0bObKDGPQdoszRKyW.jpg'},
 {'cast_id': 36,
  'character': 'VNC Announcer / Walter Jr. (voice)',
  'credit_id': '559ab8b69251413d96005590',
  'gender': 2,
  'id': 73476,
  'name': 'Michael Beattie',
  'order': 10,
  'profile_path': '/cdW4ZWXmAaykyv6NF1sg7eHXrJe.jpg'},
 {'cast_id': 32,
  'character': 'Sumo (voice)',
  'credit_id': '55440e149251415865002c8e',
  'gender': 0,
  'id': 9195,
  'name': 'Hiroyuki Sanada',
  'order': 11,
  'profile_path': '/bQPcqqXDH6DF7WusAjeBeAktJU9.jpg'},
 {'cast_id': 37,
  'character': 'Fabrice (voice)',
  'credit_id': '559ab8c7c3a3685f8000410a',
  'gender': 0,
  'id': 1265060,
  'name': 'Dave Rosenbaum',
  'order': 12,
  'profile_path': '/ajYL0iMlODjVhqukwIM9UuDzCyv.jpg'},
 {'cast_id': 38,
  'character': 'Royal Advisor (voice)',
  'credit_id': '562cbfad92514128570073d8',
  'gender': 0,
  'id': 1526863,
  'name': 'Alex Dowding',
  'order': 13,
  'profile_path': None},
 {'cast_id': 39,
  'character': 'News Reporter (voice)',
  'credit_id': '562cbfbb9251410a2200334c',
  'gender': 0,
  'id': 192922,
  'name': 'Paul Thornley',
  'order': 14,
  'profile_path': '/4leB3psu55AaGGWxoPEf63wzUnX.jpg'},
 {'cast_id': 42,
  'character': 'Additional Voices (voice)',
  'credit_id': '5722a97a9251413eaf000b9f',
  'gender': 0,
  'id': 8023,
  'name': 'Kyle Balda',
  'order': 15,
  'profile_path': '/jR8iAP6uC0V42KbUG87qBIUO3Hj.jpg'},
 {'cast_id': 43,
  'character': 'Additional Voices (voice)',
  'credit_id': '5916d39f925141061e02700a',
  'gender': 1,
  'id': 1340664,
  'name': 'Ava Acres',
  'order': 16,
  'profile_path': '/kIK6BDTgMmNSAncCgZ7XQhFo5oZ.jpg'}]

In [13]:
data['name_actor'] = data['cast_conv_dict'].apply(lambda x: [{'name': d['name']} for d in x] if isinstance(x, list) else None)

In [15]:
data_actor

,id_movie,return,title,name_actor
0,211672,15.631499,Minions,"[{'name': 'Sandra Bullock'}, {'name': 'Jon Ham..."
1,297762,5.507251,Wonder Woman,"[{'name': 'Gal Gadot'}, {'name': 'Chris Pine'}..."
2,321612,7.893040,Beauty and the Beast,"[{'name': 'Emma Watson'}, {'name': 'Dan Steven..."
3,339403,6.603274,Baby Driver,"[{'name': 'Ansel Elgort'}, {'name': 'Lily Jame..."
4,177572,3.952154,Big Hero 6,"[{'name': 'Scott Adsit'}, {'name': 'Ryan Potte..."
...,...,...,...,...
45340,293552,0.000000,At the River I Stand,[]
45341,423078,0.000000,Narrien Illat,"[{'name': 'Markku Suominen'}, {'name': 'Kari K..."
45342,47116,0.000000,The Winner,"[{'name': 'Jaroslav Tomsa'}, {'name': 'jarosla..."
45343,159636,0.000000,Raakh,"[{'name': 'Aamir Khan'}, {'name': 'Supriya Pat..."
45344,92292,0.000000,Star Spangled Girl,"[{'name': 'Sandy Duncan'}, {'name': 'Tony Robe..."

In [ ]:
#data_actor.to_csv('data_actor.csv', index=False)

In [16]:

def actor_info(actor_name:str):
    actor_name = actor_name.lower().strip()
    filtro_actor = data_actor[data_actor['name_actor'].apply(lambda x: any(d['name'].lower().strip() == actor_name for d in x) 
                                                             if isinstance(x, list) else False)]
    return filtro_actor

In [17]:
actor_name = input("Ingrese el nombre del actor: ")
result = actor_info(actor_name)
print(result)

       id_movie     return                             title  \
19       339988   1.138769                        The Circle
39           13  12.326280                      Forrest Gump
201       13448   2.377423                   Angels & Demons
208         862  12.451801                         Toy Story
213         857   6.883442               Saving Private Ryan
...         ...        ...                               ...
32025    208988   0.000000                           The War
32469      5707   0.000000                      Shooting War
35335     32694   0.000000  The Rutles 2: Can't Buy Me Lunch
38788    357125   0.000000                       The Sixties
38947     56235   0.000000                 Return with Honor

                                              name_actor
19     [{'name': 'Emma Watson'}, {'name': 'Tom Hanks'...
39     [{'name': 'Tom Hanks'}, {'name': 'Robin Wright...
201    [{'name': 'Tom Hanks'}, {'name': 'Ewan McGrego...
208    [{'name': 'Tom Hanks'}, {'name': 'Tim Allen'},...
213    [{'name': 'Tom Hanks'}, {'name': 'Matt Damon'}...
...                                                  ...
32025  [{'name': 'Keith David'}, {'name': 'Tom Hanks'...
32469  [{'name': 'Tom Hanks'}, {'name': 'Stephen Ambr...
35335  [{'name': 'Eric Idle'}, {'name': 'Neil Innes'}...
38788  [{'name': 'Walter Cronkite'}, {'name': 'David ...
38947  [{'name': 'Everett Alvarez'}, {'name': 'Ron Bl...

[71 rows x 4 columns]

# Get_Director

In [18]:
# listas de lo que parecen ser diccionarios, y listas vacías.
# procedemos a la transformación de texto a diccionario
import ast
import json

def convertir_a_dict(valor):
    datos_list = ast.literal_eval(valor)
    datos_str_list = [json.dumps(d) for d in datos_list]
    datos_dict_list = [json.loads(d) for d in datos_str_list]
    return datos_dict_list

# Aplicar la función a toda la columna 'cast' agregando una nueva columna al DF llamada 'cast_dict'
data['crew_conv_dict'] = data['crew'].apply(convertir_a_dict)

In [19]:
data['crew_conv_dict'][0]

[{'credit_id': '5431b2b10e0a2656e20026c7',
  'department': 'Production',
  'gender': 2,
  'id': 5720,
  'job': 'Producer',
  'name': 'Christopher Meledandri',
  'profile_path': None},
 {'credit_id': '53ccb8edc3a368776a002323',
  'department': 'Directing',
  'gender': 0,
  'id': 8023,
  'job': 'Director',
  'name': 'Kyle Balda',
  'profile_path': '/jR8iAP6uC0V42KbUG87qBIUO3Hj.jpg'},
 {'credit_id': '5431b2870e0a2658b200266b',
  'department': 'Writing',
  'gender': 2,
  'id': 52360,
  'job': 'Characters',
  'name': 'Ken Daurio',
  'profile_path': '/ht3GsJsVQFCC1QYvrs5waVaKo4t.jpg'},
 {'credit_id': '5431b2990e0a265915002677',
  'department': 'Writing',
  'gender': 2,
  'id': 52361,
  'job': 'Characters',
  'name': 'Cinco Paul',
  'profile_path': '/eDBKlEbvWWzE8N7p5Xv3gNlkxPO.jpg'},
 {'credit_id': '563b5dc9c3a3681b5c0264db',
  'department': 'Sound',
  'gender': 2,
  'id': 59706,
  'job': 'Original Music Composer',
  'name': 'Heitor Pereira',
  'profile_path': None},
 {'credit_id': '5431b2a6c3a36811ef0026ed',
  'department': 'Production',
  'gender': 0,
  'id': 65674,
  'job': 'Producer',
  'name': 'Janet Healy',
  'profile_path': None},
 {'credit_id': '53ccb8fcc3a3687775002425',
  'department': 'Directing',
  'gender': 2,
  'id': 124747,
  'job': 'Director',
  'name': 'Pierre Coffin',
  'profile_path': '/enSQNAwRSDPq9M9VZ1yjDwKWbev.jpg'},
 {'credit_id': '5431b2bdc3a368117b002766',
  'department': 'Production',
  'gender': 0,
  'id': 124748,
  'job': 'Executive Producer',
  'name': 'Chris Renaud',
  'profile_path': '/mJGkOnJ8NrLt11p9qdaXsBF63BC.jpg'},
 {'credit_id': '5431b28fc3a36831a6003da5',
  'department': 'Writing',
  'gender': 2,
  'id': 1024175,
  'job': 'Writer',
  'name': 'Brian Lynch',
  'profile_path': '/dprj5Un51JO2QzQnDmHuBrqRQc3.jpg'},
 {'credit_id': '553d5700c3a368784500d158',
  'department': 'Crew',
  'gender': 0,
  'id': 1447310,
  'job': 'Post Production Supervisor',
  'name': 'Jeannine Berger',
  'profile_path': None},
 {'credit_id': '553ff1509251414aeb000014',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1447388,
  'job': 'Animation',
  'name': 'Daniele Zannone',
  'profile_path': None},
 {'credit_id': '563b5e3fc3a3681b5e023403',
  'department': 'Editing',
  'gender': 0,
  'id': 1531911,
  'job': 'Editor',
  'name': 'Claire Dodgson',
  'profile_path': None}]

In [20]:

# Creamos una columna con los nombres de los Directores
data['name_director'] = data['crew_conv_dict'].apply(lambda x: [{'name': d['name']} for d in x if d.get('job') == 'Director'] if isinstance(x, list) else None)

In [21]:
# verificamos que se creo 
data['name_director'][0]

[{'name': 'Kyle Balda'}, {'name': 'Pierre Coffin'}]

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   budget          45345 non-null  float64
 1   id_movie        45345 non-null  int64
 2   popularity      45345 non-null  float64
 3   release_date    45345 non-null  object
 4   revenue         45345 non-null  float64
 5   title           45345 non-null  object
 6   vote_average    45345 non-null  float64
 7   vote_count      45345 non-null  float64
 8   release_year    45345 non-null  object
 9   return          45345 non-null  float64
 10  cast            45345 non-null  object
 11  crew            45345 non-null  object
 12  cast_conv_dict  45345 non-null  object
 13  name_actor      45345 non-null  object
 14  crew_conv_dict  45345 non-null  object
 15  name_director   45345 non-null  object
dtypes: float64(6), int64(1), object(9)
memory usage: 5.5+ MB

In [23]:
data_director = data[['id_movie','return','title','name_director', 'release_date','revenue','budget']]

In [24]:
data_director

,id_movie,return,title,name_director,release_date,revenue,budget
0,211672,15.631499,Minions,"[{'name': 'Kyle Balda'}, {'name': 'Pierre Coff...",2015-06-17,1.156731e+09,74000000.0
1,297762,5.507251,Wonder Woman,[{'name': 'Patty Jenkins'}],2017-05-30,8.205804e+08,149000000.0
2,321612,7.893040,Beauty and the Beast,[{'name': 'Bill Condon'}],2017-03-16,1.262886e+09,160000000.0
3,339403,6.603274,Baby Driver,[{'name': 'Edgar Wright'}],2017-06-28,2.245113e+08,34000000.0
4,177572,3.952154,Big Hero 6,"[{'name': 'Chris Williams'}, {'name': 'Don Hal...",2014-10-24,6.521054e+08,165000000.0
...,...,...,...,...,...,...,...
45340,293552,0.000000,At the River I Stand,[],1993-01-01,0.000000e+00,0.0
45341,423078,0.000000,Narrien Illat,[{'name': 'Tapio Suominen'}],1970-11-13,0.000000e+00,0.0
45342,47116,0.000000,The Winner,[{'name': 'Dušan Trančík'}],1979-03-09,0.000000e+00,0.0
45343,159636,0.000000,Raakh,[{'name': 'Aditya Bhattacharya'}],1989-09-17,0.000000e+00,0.0
45344,92292,0.000000,Star Spangled Girl,[{'name': 'Jerry Paris'}],1971-12-22,0.000000e+00,0.0

In [25]:
data_director.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_movie       45345 non-null  int64
 1   return         45345 non-null  float64
 2   title          45345 non-null  object
 3   name_director  45345 non-null  object
 4   release_date   45345 non-null  object
 5   revenue        45345 non-null  float64
 6   budget         45345 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 2.4+ MB

In [ ]:
#data_director.to_csv('data_director.csv', index=False)

In [26]:
data_director = pd.read_csv('C:\project_mlops\datasets\data_director.csv')

In [34]:
data_director['name_director']

0        [{'name': 'Kyle Balda'}, {'name': 'Pierre Coff...
1                              [{'name': 'Patty Jenkins'}]
2                                [{'name': 'Bill Condon'}]
3                               [{'name': 'Edgar Wright'}]
4        [{'name': 'Chris Williams'}, {'name': 'Don Hal...
                               ...
45340                                                   []
45341                         [{'name': 'Tapio Suominen'}]
45342                          [{'name': 'Dušan Trančík'}]
45343                    [{'name': 'Aditya Bhattacharya'}]
45344                            [{'name': 'Jerry Paris'}]
Name: name_director, Length: 45345, dtype: object

In [31]:
def director_info(director_name:str):
    director_name = director_name.lower().strip()
    filtro_director = data_director[data_director['name_director'].apply(lambda x: any(d['name'].lower().strip() == director_name for d in x) 
                                                             if isinstance(x, list) else False)]
    return filtro_director

In [35]:
director_info('Patty Jenkins')

Empty DataFrame
Columns: [id_movie, return, title, name_director, release_date, revenue, budget]
Index: []

In [ ]:
def director_info(director_name: str):
    director_name = director_name.lower().strip()
    filtro_director = data_director[data_director['name_director'].apply(lambda x: any(d['name'].lower().strip() == director_name for d in x) if isinstance(x, list) else False)]

    nombre_director = filtro_director['name_director'].apply(lambda x: [d['name'] for d in x]).tolist()
    retorno_total_director = filtro_director['return'].sum()
    peliculas = filtro_director['title'].tolist()
    anio = filtro_director['release_date'].tolist()
    retorno_pelicula = filtro_director['return'].tolist()
    budget_pelicula = filtro_director['budget'].tolist()
    revenue_pelicula = filtro_director['revenue'].tolist()

    return {'director': nombre_director, 'retorno_total_director': retorno_total_director, 
            'peliculas': peliculas, 'anio': anio, 'retorno_pelicula': retorno_pelicula, 
            'budget_pelicula': budget_pelicula, 'revenue_pelicula': revenue_pelicula}

In [ ]:
director_name = input("Ingrese el nombre del director: ")

resultado = director_info(director_name)

print(resultado)

{'director': [], 'retorno_total_director': 0.0, 'peliculas': [], 'anio': [], 'retorno_pelicula': [], 'budget_pelicula': [], 'revenue_pelicula': []}

In [3]:
data_actor = pd.read_csv('C:\project_mlops\datasets\data_actor.csv')

In [4]:
data_actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_movie    45345 non-null  int64
 1   return      45345 non-null  float64
 2   title       45345 non-null  object
 3   name_actor  45345 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.4+ MB

In [6]:
data_actor['name_actor'][0]

"[{'name': 'Sandra Bullock'}, {'name': 'Jon Hamm'}, {'name': 'Michael Keaton'}, {'name': 'Allison Janney'}, {'name': 'Steve Coogan'}, {'name': 'Jennifer Saunders'}, {'name': 'Geoffrey Rush'}, {'name': 'Steve Carell'}, {'name': 'Pierre Coffin'}, {'name': 'Katy Mixon'}, {'name': 'Michael Beattie'}, {'name': 'Hiroyuki Sanada'}, {'name': 'Dave Rosenbaum'}, {'name': 'Alex Dowding'}, {'name': 'Paul Thornley'}, {'name': 'Kyle Balda'}, {'name': 'Ava Acres'}]"