In [1]:
import pandas as pd
import numpy as np

In [2]:
## se cargan los dataset

df1 = pd.read_csv("Dataset_procesado\Dataset\credits.csv")

df2 = pd.read_csv("Dataset_procesado\Dataset\movies_dataset.csv")

## al proceder a la lectura nos da un  warning por lo que accedemos a la columna a ver que tipo de datos es

C:\Users\felix\AppData\Local\Temp\ipykernel_4976\2923668066.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("Dataset_procesado\Dataset\movies_dataset.csv")

In [92]:
df2['id_movies']

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id_movies, Length: 45433, dtype: object

In [86]:
df1.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [112]:
df2.shape

(45463, 24)

In [100]:
# Marcar las filas duplicadas en la columna 'id'
duplicados = df2['id_movies'].duplicated(keep=False)

# Obtener los índices de las filas duplicadas
indices_duplicados = df2[duplicados]

# Imprimir los índices de las filas duplicadas
indices_duplicados

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id_movies, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [12]:
# Eliminar las filas duplicadas basadas en la columna 'id'
df2 = df2.drop_duplicates(subset=['id'], keep='first')
df2.rename(columns={'id':'id_movies'},inplace=True)

In [101]:
df1['id'].duplicated().sum()

44

In [94]:
#exploracion de los datasets
print(df1.shape)
print(df2.shape)
print(df1.columns)
print(df2.columns)

(45476, 3)
(45433, 24)
Index(['cast', 'crew', 'id'], dtype='object')
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'id_movies', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [15]:
#conocer los tipos de datos que cada columna para proceder a su union
print(df1.info())
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45436 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45436 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45436 non-null  object
 3   genres                 45436 non-null  object
 4   homepage               7777 non-null   object
 5   id_movies              45436 non-null  object
 6   imdb_id                45419 non-null  object
 7   original_language      45425 non-null  object
 8   original_title         45436 non-null  object
 9   overview               44482 non-null  object
 10  popularity             45431 non-null  object
 11  poster_path            45050 non-null  object
 12  production_companies   45433 non-null  object
 13  production_countries   45433 non-null  object
 14  release_date           45349 non-null  object
 15  revenue                45430 non-null  float64
 16  runtime                45173 non-null  float64
 17  spoken_languages       45430 non-null  object
 18  status                 45349 non-null  object
 19  tagline                20401 non-null  object
 20  title                  45430 non-null  object
 21  video                  45430 non-null  object
 22  vote_average           45430 non-null  float64
 23  vote_count             45430 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB
None

In [16]:
#Al hacer union mediante la funcion de merge ocurre un error, por lo que procedemos a
# cambiar el tipo de dato a la columna 'id'
# Convertir la columna 'id' al tipo int64 en df2

#df2['id'] = df2['id'].astype(int)
"""
al intentar convertir esta columna nos encontramos con un error, ya que, uno de los datos se encuentra en formato fecha
#indice = df2['id'].eq('1997-08-20').idxmax()
#indice
#df2.loc[19730]
#df2.loc[29503]
df2.loc[35587]
al conocer el indice observamos que informacion aporta al daset esa fila, al no ser importante se procede a eliminar

"""
df2 = df2.drop(index=19730)
df2 = df2.drop(index=29503)
df2 = df2.drop(index=35587)

In [17]:
# Procedemos a convertir la columna 'id' para unir ambos dataset
#df2['id'] = df2['id'].astype(int)
#UNION
df_c = pd.concat([df1,df2], axis=1)
df_c.rename(columns={'id':'id_credits'},inplace=True)
df_c.columns

Index(['cast', 'crew', 'id_credits', 'adult', 'belongs_to_collection',
       'budget', 'genres', 'homepage', 'id_movies', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [18]:
# eliminar las columnas que no necesitamos en el dataset
#Definimos la columnas a eliminar
col_dele = ['video','imdb_id','adult','original_title','poster_path','homepage']
#se crea un dataframe nuevo sin esas columnas
df = df_c.drop(columns=col_dele)
df.columns

Index(['cast', 'crew', 'id_credits', 'belongs_to_collection', 'budget',
       'genres', 'id_movies', 'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [19]:
df['cast'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 45476 entries, 0 to 45475
Series name: cast
Non-Null Count  Dtype
--------------  -----
45476 non-null  object
dtypes: object(1)
memory usage: 355.4+ KB

In [20]:
dato = df['cast'][0]
dato_s = dato.split('}')
print(type(dato))
dato_s

<class 'str'>

["[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'",
 ", {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'",
 ", {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'",
 ", {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'",
 ", {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'",
 ", {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'",
 ", {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'",
 ", {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'",
 ", {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'",
 ", {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'",
 ", {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'",
 ", {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None",
 ", {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'",
 ']']

In [21]:
import ast
import json


dato = df['cast'][0]
datos_list = ast.literal_eval(dato)
datos_str_list = [json.dumps(d) for d in datos_list]
datos_dict_list = [json.loads(d) for d in datos_str_list]
datos_dict_list

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [22]:
import ast
import json

def convertir_a_dict(valor):
    datos_list = ast.literal_eval(valor)
    datos_str_list = [json.dumps(d) for d in datos_list]
    datos_dict_list = [json.loads(d) for d in datos_str_list]
    return datos_dict_list

# Aplicar la función a toda la columna 'cast'
df['cast'] = df['cast'].apply(convertir_a_dict)

In [23]:
# Aplicar la función pd.json_normalize a cada elemento de la columna 'cast'
df_expandido = df['cast'].apply(pd.json_normalize)

# Concatenar los DataFrames resultantes
df_expandido = pd.concat(df_expandido.to_list(), ignore_index=True)

In [24]:
df_expandido.head()
df_expandido.rename(columns={'id':'id_name'},inplace=True)

In [28]:
# Filtrar el DataFrame para mostrar solo los valores duplicados en la columna 'id'
valores_duplicados = df_expandido[df_expandido['id_name'].duplicated(keep=False)]

# Imprimir los valores duplicados
print(valores_duplicados['id_name'])

0              31
1           12898
2            7167
3           12899
4           12900
           ...
562467      37822
562469     544742
562470    1090923
562471    1136422
562473      29199
Name: id_name, Length: 428902, dtype: int64

In [29]:
df_c1 = pd.concat([df,df_expandido], axis=1)

In [33]:
df_c1.columns

Index(['cast', 'crew', 'id_credits', 'belongs_to_collection', 'budget',
       'genres', 'id_movies', 'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast_id', 'character', 'credit_id',
       'gender', 'id_name', 'name', 'order', 'profile_path'],
      dtype='object')

In [32]:
df_c1.shape

(562474, 29)

In [34]:
import ast
import json

def convertir_a_dict(valor):
    datos_list = ast.literal_eval(valor)
    datos_str_list = [json.dumps(d) for d in datos_list]
    datos_dict_list = [json.loads(d) for d in datos_str_list]
    return datos_dict_list

# Aplicar la función a toda la columna 'cast'
df['crew'] = df['crew'].apply(convertir_a_dict)

In [35]:
# Aplicar la función pd.json_normalize a cada elemento de la columna 'cast'
df_expandido1 = df['crew'].apply(pd.json_normalize)

# Concatenar los DataFrames resultantes
df_expandido1 = pd.concat(df_expandido1.to_list(), ignore_index=True)

In [42]:

df_expandido1.rename(columns={'id':'id_name_crew'},inplace=True)
df_expandido1.rename(columns={'credit_id':'credit_id_crew'},inplace=True)
df_expandido1.head()

,credit_id_crew,department,gender,id_name_crew,job,name,profile_path
0,52fe4284c3a36847f8024f49,Directing,2,7879,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,52fe4284c3a36847f8024f4f,Writing,2,12891,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,52fe4284c3a36847f8024f55,Writing,2,7,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
3,52fe4284c3a36847f8024f5b,Writing,2,12892,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg
4,52fe4284c3a36847f8024f61,Writing,0,12893,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg

In [37]:
df_c2 = pd.concat([df_c1,df_expandido1], axis=1)

In [43]:
#df_c2.drop(['cast','crew'], axis=1, inplace=True)
df_c2.head()

,id_credits,belongs_to_collection,budget,genres,id_movies,original_language,overview,popularity,production_companies,production_countries,...,name,order,profile_path,credit_id_crew,department,gender,id_name_crew,job,name,profile_path
0,862.0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",...,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,52fe4284c3a36847f8024f49,Directing,2.0,7879.0,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,8844.0,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,52fe4284c3a36847f8024f4f,Writing,2.0,12891.0,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,15602.0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,52fe4284c3a36847f8024f55,Writing,2.0,7.0,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
3,31357.0,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,52fe4284c3a36847f8024f5b,Writing,2.0,12892.0,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg
4,11862.0,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,52fe4284c3a36847f8024f61,Writing,0.0,12893.0,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg

In [183]:
dato = df_c2['genres'][0]
print(dato)
print(type(dato))

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
<class 'str'>

In [56]:
dato1 = df_c2['belongs_to_collection'].shape
dato2 = df_c2['belongs_to_collection'].isna().sum()
print(dato1)
print(dato2)
dato3 = (dato1[0]) - dato2
print(type(dato1))
print(dato3)

(562474,)
557986
<class 'tuple'>
4488

In [47]:
import ast
import json
import math

def convertir_a_dict(valor):
    if isinstance(valor, float) and math.isnan(valor):
        return valor
    
    datos_list = ast.literal_eval(valor)
    datos_str_list = [json.dumps(d) for d in datos_list]
    datos_dict_list = [json.loads(d) for d in datos_str_list]
    return datos_dict_list

# Aplicar la función a toda la columna 'cast'
df_c2['belongs_to_collection'] = df['belongs_to_collection'].apply(convertir_a_dict)

In [77]:
dato4 = df_c2['belongs_to_collection'][0]
dato4

['id', 'name', 'poster_path', 'backdrop_path']

In [57]:
# Aplicar la función pd.json_normalize a cada elemento de la columna 'belongs_to_collection'
df_expandido2 = df_c2['belongs_to_collection'].apply(lambda x: pd.json_normalize(x) if pd.notnull(x) else x)

# Concatenar los DataFrames resultantes
df_expandido2 = pd.concat(df_expandido2.to_list(), ignore_index=True)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
df_expandido1.rename(columns={'id':'id_name_crew'},inplace=True)
df_expandido1.rename(columns={'credit_id':'credit_id_crew'},inplace=True)
df_expandido1.head()

In [88]:
dato = df['cast'][0]

e_cast_id = dato.split(",")[0].strip().replace("'","\"").replace("None", "null").replace("[", "")
e_character = dato.split(",")[1].strip().replace("'","\"").replace("None", "null")
e_credit_id = dato.split(",")[2].strip().replace("'","\"").replace("None", "null")
e_gender = dato.split(",")[3].strip().replace("'","\"").replace("None", "null")
e_id = dato.split(",")[4].strip().replace("'","\"").replace("None", "null")
e_name = dato.split(",")[5].strip().replace("'","\"").replace("None", "null")
e_order = dato.split(",")[6].strip().replace("'","\"").replace("None", "null")
e_profile_path =dato.split(",")[7].strip().replace("'","\"").replace("None", "null")

print(len(dato.split(",")))
print(e_cast_id)
print(e_character)
print(e_credit_id)
print(e_gender)

104
{"cast_id": 15
"character": "Woody (voice)"
"credit_id": "52fe4284c3a36847f8024f95"
"gender": 2

In [181]:
dato = df2['belongs_to_collection'][0]
dato

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [191]:
dato = df2['belongs_to_collection'][155]
dato
extrae_id = dato.split(",")[0].strip().replace("'","\"").replace("None", "null")
extrae_name = dato.split(",")[1].strip().replace("'","\"").replace("None", "null")
extrae_poster = dato.split(",")[2].strip().replace("'","\"").replace("None", "null")
back_path = dato.split(",")[3].strip().replace("'","\"").replace("None", "null")

print(extrae_id)
print(extrae_name)
print(extrae_poster)
print(back_path)
resultado = extrae_id + ", " + extrae_name + ", " + extrae_poster + ", " + back_path
resultado

{"id": 8819
"name": "Casper Collection"
"poster_path": "/nWKbJAOFwJlJm24dTovfQuUJOc2.jpg"
"backdrop_path": null}

'{"id": 8819, "name": "Casper Collection", "poster_path": "/nWKbJAOFwJlJm24dTovfQuUJOc2.jpg", "backdrop_path": null}'

In [195]:
import json 
json_data = json.loads(resultado)
diccionario = dict(json_data)
print(diccionario)
type(diccionario)

{'id': 8819, 'name': 'Casper Collection', 'poster_path': '/nWKbJAOFwJlJm24dTovfQuUJOc2.jpg', 'backdrop_path': None}

dict